[submodule "external/GoogleTest"]
	path = external/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "external/GoogleBenchmark"]
	path = external/GoogleBenchmark
	url = https://github.com/google/benchmark.git
